<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% block navbar %}
<nav class="navbar navbar-expand-md bg-primary navbar-dark">

    <div class="container">
        <a class="navbar-brand" href="{{ url_for('auth.index') }}"><b> Gatituz</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav">
                {% block item_contacts %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-envelope-o"></i> Contacts</a>
                    </li>
                {% endblock %}
                {% block item_sections %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sections.show_categories') }}"><i class="fa d-inline fa-lg fa-th-large"></i> Sections</a>
                    </li>
                {% endblock %}
                {% block item_settings %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('settings.main_panel') }}"><i class="fa d-inline fa-lg fa-cog"></i> Settings</a>
                </li>
                {% endblock %}
            </ul>
            <a class="btn navbar-btn ml-2 text-white btn-secondary" href="{{ url_for('auth.logout') }}"><i class="fa d-inline fa-lg fa-user-circle-o"></i>Sign
                out
                <br> </a>
        </div>
    </div>

</nav>
{% endblock %}

{% block mainbody %}
    {% block adminsections %}
        <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
              {% block barbooks %}
                  <li class="nav-item">
                      <a href="#" class="nav-link">Books</a>
                  </li>
              {% endblock %}
              {% block barmedia %}
                  <li class="nav-item">
                      <a class="nav-link" href="#">Media</a>
                  </li>
              {% endblock %}
              {% block barusers %}
                  <li class="nav-item">
                      <a href="{{ url_for('settings.admin_panel') }}" class="nav-link">Users</a>
                  </li>
              {% endblock %}
              {% block barcourses %}
                  <li class="nav-item">
                      <a class="nav-link" href="#">Courses
                      </a>
                  </li>
              {% endblock %}
              {% block barprofile %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('settings.change_profile') }}">My Profile</a>
                  </li>
              {% endblock %}

          </ul>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}

    {% block admintable %}
        <div class="py-5">
            <div class="container">
            {% block messagesview %}
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock %}
              <div class="row">

                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        {% for title in titles %}
                            <th>{{ title }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in rows %}
                          <tr>
                            <td>{{ row.usr_name }}</td>
                            <td>{{ row.usr_type }}</td>
                            <td>{{ row.storage_size /  (1024*1024*1024) }}</td>
                            <td><a href="">
                                <i class="fa d-inline fa-lg fa-times-circle"></i>
                              </a>
                            </td>
                              <td><input type="password" name="email" class="form-control form-control-sm col-3"></td>
                              <td>
                                  <a href=""><i class="fa fa-lg fa-check"></i></a>
                              </td>
                          </tr>
                      {% endfor %}

                      {% block newelement %}
                          <form action="{{ url_for('settings.new_user') }}" method="post" enctype="multipart/form-data">
                            {{ new.csrf_token }}
                            <tr>
                                <td>{{ new.usr_name(class="form-control form-control-sm col-3", required='') }}</td>
                                <td>{{ new.usr_type(class="btn btn-outline-primary dropdown-toggle", required='') }}</td>
                                <td>{{ new.disk_quota(class="form-control form-control-sm col-3", required='') }}</td>
                                <td></td>
                                <td>{{ new.password(class="form-control form-control-sm col-3", required='') }}</td>
                                <td>{{ new.submit }}</td>
                            </tr>
                          </form>
                      {% endblock %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    {% endblock %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>

</html>
