{% extends 'base_admin_settings.html' %}

{% block item_settings %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('settings.main_panel') }}"><i class="fa d-inline fa-lg fa-cog"></i>
            Settings</a>
    </li>
{% endblock %}
{% block barbooks %}
    {% if admin %}
        {{ super() }}
    {% else %}

    {% endif %}
{% endblock %}
{% block barmedia %}
    {% if admin %}
        {{ super() }}
    {% else %}

    {% endif %}
{% endblock %}
{% block barusers %}
    {% if admin %}
        {{ super() }}
    {% else %}

    {% endif %}
{% endblock %}
{% block barcourses %}
    {% if admin %}
        {{ super() }}
    {% else %}

    {% endif %}
{% endblock %}
{% block barprofile %}
    <li class="nav-item">
        <a class="active nav-link" href="{{ url_for('settings.change_profile') }}">My Profile</a>
    </li>
{% endblock %}

{% block messagesview %}
    {{ super() }}
{% endblock %}
{% block newelement %}
    <form action="{{ url_for('settings.validate_change_profile') }}" method="post" enctype="multipart/form-data">
        {{ new.csrf_token }}
        <div class="form-group">
            {{ new.picture.label(class="control-label") }}
            {{ new.picture(class="btn") }}
        </div>
        <div class="form-group">
            {{ new.description.label(class="control-label") }}
            {{ new.description(class="form-control", maxlength=500, rows=6) }}
        </div>
        <div class="form-group">
            {{ new.profession.label(class="control-label") }}
            {{ new.profession(class="form-control", maxlength=50) }}
        </div>
        <div class="form-group">
            {{ new.email.label(class="control-label") }}
            {{ new.email(class="form-control", maxlength=50) }}
            <p>{{ new.description.label }}</p>
        </div>
        {{ new.submit(class="btn btn-default") }}
    </form>
{% endblock %}
